<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ci4/

  # Reindirizza la root a public/
  RewriteRule ^$ public/ [L,R=302]

  # Se il file o la directory non esistono, inoltra la richiesta a public/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
